@monite:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.monite.com/api/v4/projects/56/packages/npm/:_authToken=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
//gitlab.monite.com/api/v4/packages/npm/:_authToken=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
