@import 'tailwindcss' source('../../../src/') prefix(mtw);
@import 'tw-animate-css' source('../../../src/') prefix(mtw);

@import './tailwind/typography.css';

@import '@react-pdf-viewer/core/lib/styles/index.css';
@import '@react-pdf-viewer/page-navigation/lib/styles/index.css';
@import '@react-pdf-viewer/zoom/lib/styles/index.css';
@import '../../ui/FileViewer/FileViewer.css';

@theme inline {
  --color-primary: var(--mtw-color-primary-50);
  --color-primary-10: var(--mtw-color-primary-10);
  --color-primary-20: var(--mtw-color-primary-20);
  --color-primary-30: var(--mtw-color-primary-30);
  --color-primary-40: var(--mtw-color-primary-40);
  --color-primary-50: var(--mtw-color-primary-50);
  --color-primary-60: var(--mtw-color-primary-60);
  --color-primary-70: var(--mtw-color-primary-70);
  --color-primary-80: var(--mtw-color-primary-80);
  --color-primary-85: var(--mtw-color-primary-85);
  --color-primary-90: var(--mtw-color-primary-90);
  --color-primary-95: var(--mtw-color-primary-95);

  --color-neutral-10: var(--mtw-color-neutral-10);
  --color-neutral-30: var(--mtw-color-neutral-30);
  --color-neutral-50: var(--mtw-color-neutral-50);
  --color-neutral-70: var(--mtw-color-neutral-70);
  --color-neutral-80: var(--mtw-color-neutral-80);
  --color-neutral-90: var(--mtw-color-neutral-90);
  --color-neutral-95: var(--mtw-color-neutral-95);

  --color-danger-10: var(--mtw-color-error-10);
  --color-danger-30: var(--mtw-color-error-30);
  --color-danger-40: var(--mtw-color-error-40);
  --color-danger-50: var(--mtw-color-error-50);
  --color-danger-60: var(--mtw-color-error-60);
  --color-danger-80: var(--mtw-color-error-80);
  --color-danger-90: var(--mtw-color-error-90);
  --color-danger-95: var(--mtw-color-error-95);

  --color-success-10: var(--mtw-color-success-10);
  --color-success-30: var(--mtw-color-success-30);
  --color-success-50: var(--mtw-color-success-50);
  --color-success-60: var(--mtw-color-success-60);
  --color-success-80: var(--mtw-color-success-80);
  --color-success-90: var(--mtw-color-success-90);
  --color-success-95: var(--mtw-color-success-95);

  --color-warning-10: var(--mtw-color-warning-10);
  --color-warning-30: var(--mtw-color-warning-30);
  --color-warning-50: var(--mtw-color-warning-50);
  --color-warning-60: var(--mtw-color-warning-60);
  --color-warning-80: var(--mtw-color-warning-80);
  --color-warning-90: var(--mtw-color-warning-90);
  --color-warning-95: var(--mtw-color-warning-95);

  --border: var(--mtw-border);
  --font-sans: var(--mtw-font-family);

  --sidebar-foreground: var(--mtw-sidebar-foreground);
  --sidebar-primary: var(--mtw-sidebar-primary);
  --sidebar-primary-foreground: var(--mtw-sidebar-primary-foreground);
  --sidebar-accent: var(--mtw-sidebar-accent);
  --sidebar-accent-foreground: var(--mtw-sidebar-accent-foreground);
  --sidebar-border: var(--mtw-sidebar-border);
  --sidebar-ring: var(--mtw-sidebar-ring);
}

:root,
:host {
  --mtw-background: oklch(1 0 0);
  --mtw-foreground: oklch(0.145 0 0);
  --mtw-card: oklch(1 0 0);
  --mtw-card-foreground: oklch(0.145 0 0);
  --mtw-popover: oklch(1 0 0);
  --mtw-popover-foreground: oklch(0.145 0 0);
  --mtw-primary: var(--mtw-color-primary-50);
  --mtw-primary-foreground: var(--mtw-color-primary-foreground);
  --mtw-secondary: var(--mtw-color-primary-90);
  --mtw-secondary-foreground: var(--mtw-color-primary-20);
  --mtw-muted: oklch(0.97 0 0);
  --mtw-muted-foreground: oklch(0.556 0 0);
  --mtw-accent: oklch(0.97 0 0);
  --mtw-accent-foreground: oklch(0.205 0 0);
  --mtw-destructive: var(--mtw-color-danger-10);
  --mtw-destructive-foreground: var(--color-white);
  --mtw-border: oklch(0.922 0 0);
  --mtw-input: oklch(0.922 0 0);
  --mtw-ring: oklch(0.708 0 0);
  --mtw-chart-1: oklch(0.646 0.222 41.116);
  --mtw-chart-2: oklch(0.6 0.118 184.704);
  --mtw-chart-3: oklch(0.398 0.07 227.392);
  --mtw-chart-4: oklch(0.828 0.189 84.429);
  --mtw-chart-5: oklch(0.769 0.188 70.08);
  --mtw-radius: 0.625rem;
  --mtw-sidebar: oklch(0.985 0 0);
  --mtw-sidebar-foreground: oklch(0.145 0 0);
  --mtw-sidebar-primary: oklch(0.205 0 0);
  --mtw-sidebar-primary-foreground: oklch(0.985 0 0);
  --mtw-sidebar-accent: oklch(0.97 0 0);
  --mtw-sidebar-accent-foreground: oklch(0.205 0 0);
  --mtw-sidebar-border: oklch(0.922 0 0);
  --mtw-sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--mtw-background);
  --color-foreground: var(--mtw-foreground);
  --color-card: var(--mtw-card);
  --color-card-foreground: var(--mtw-card-foreground);
  --color-popover: var(--mtw-popover);
  --color-popover-foreground: var(--mtw-popover-foreground);
  --color-primary: var(--mtw-primary);
  --color-primary-foreground: var(--mtw-primary-foreground);
  --color-secondary: var(--mtw-secondary);
  --color-secondary-foreground: var(--mtw-secondary-foreground);
  --color-muted: var(--mtw-muted);
  --color-muted-foreground: var(--mtw-muted-foreground);
  --color-accent: var(--mtw-accent);
  --color-accent-foreground: var(--mtw-accent-foreground);
  --color-destructive: var(--mtw-destructive);
  --color-destructive-foreground: var(--mtw-destructive-foreground);
  --color-border: var(--mtw-border);
  --color-input: var(--mtw-input);
  --color-ring: var(--mtw-ring);
  --color-chart-1: var(--mtw-chart-1);
  --color-chart-2: var(--mtw-chart-2);
  --color-chart-3: var(--mtw-chart-3);
  --color-chart-4: var(--mtw-chart-4);
  --color-chart-5: var(--mtw-chart-5);
  --radius-sm: calc(var(--mtw-radius) - 4px);
  --radius-md: calc(var(--mtw-radius) - 2px);
  --radius-lg: var(--mtw-radius);
  --radius-xl: calc(var(--mtw-radius) + 4px);
  --color-sidebar: var(--mtw-sidebar);
  --color-sidebar-foreground: var(--mtw-sidebar-foreground);
  --color-sidebar-primary: var(--mtw-sidebar-primary);
  --color-sidebar-primary-foreground: var(--mtw-sidebar-primary-foreground);
  --color-sidebar-accent: var(--mtw-sidebar-accent);
  --color-sidebar-accent-foreground: var(--mtw-sidebar-accent-foreground);
  --color-sidebar-border: var(--mtw-sidebar-border);
  --color-sidebar-ring: var(--mtw-sidebar-ring);
}

@layer base {
  [data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: #6d737e;
    font-weight: normal;
    font-size: 14px;
  }
}

@keyframes dot-typing {
  0% {
    box-shadow:
      9984px 0 0 0 var(--mtw-dot-loader-color),
      9999px 0 0 0 var(--mtw-dot-loader-color),
      10014px 0 0 0 var(--mtw-dot-loader-color);
  }

  16.667% {
    box-shadow:
      9984px -10px 0 0 var(--mtw-dot-loader-stress-color),
      9999px 0 0 0 var(--mtw-dot-loader-color),
      10014px 0 0 0 var(--mtw-dot-loader-color);
  }

  33.333% {
    box-shadow:
      9984px 0 0 0 var(--mtw-dot-loader-color),
      9999px 0 0 0 var(--mtw-dot-loader-color),
      10014px 0 0 0 var(--mtw-dot-loader-color);
  }

  50% {
    box-shadow:
      9984px 0 0 0 var(--mtw-dot-loader-color),
      9999px -10px 0 0 var(--mtw-dot-loader-stress-color),
      10014px 0 0 0 var(--mtw-dot-loader-color);
  }

  66.667% {
    box-shadow:
      9984px 0 0 0 var(--mtw-dot-loader-color),
      9999px 0 0 0 var(--mtw-dot-loader-color),
      10014px 0 0 0 var(--mtw-dot-loader-color);
  }

  83.333% {
    box-shadow:
      9984px 0 0 0 var(--mtw-dot-loader-color),
      9999px 0 0 0 var(--mtw-dot-loader-color),
      10014px -10px 0 0 var(--mtw-dot-loader-stress-color);
  }

  100% {
    box-shadow:
      9984px 0 0 0 var(--mtw-dot-loader-color),
      9999px 0 0 0 var(--mtw-dot-loader-color),
      10014px 0 0 0 var(--mtw-dot-loader-color);
  }
}

@layer utilities {
  .animate-dot-typing {
    --mtw-dot-loader-color: #d6cdfe;
    --mtw-dot-loader-stress-color: #562bd6;

    animation: dot-typing 1.5s infinite linear;
  }
}
