@import 'tailwindcss';

@theme {
  --color-primary-50: var(--monite-color-primary-50);
  --color-primary-60: var(--monite-color-primary-60);
  --color-primary-80: var(--monite-color-primary-80);
  --color-primary-90: var(--monite-color-primary-90);

  --color-neutral-10: var(--monite-color-neutral-10);
  --color-neutral-30: var(--monite-color-neutral-30);
  --color-neutral-50: var(--monite-color-neutral-50);
  --color-neutral-70: var(--monite-color-neutral-70);
  --color-neutral-80: var(--monite-color-neutral-80);
  --color-neutral-90: var(--monite-color-neutral-90);
  --color-neutral-95: var(--monite-color-neutral-95);
}
