.layout {
  min-height: 100vh;
}

.sider {
  padding: 24px 12px;
}

.content {
  background: #fff;
  padding: 36px 48px;
}

.menu {
  background: transparent;
  margin-top: 24px;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  :global {
    li.ant-menu-item, .ant-menu-submenu-title {
      display: flex;
      align-items: center;
      padding: 8px 12px;
      border-radius: 4px;

      span {
        margin-left: 8px;
      }

      &:hover {
        background: #DDDDDD;
        color: inherit;
      }
    }

    .ant-menu-sub {
      background: none;
    }

    li.ant-menu-submenu-active {
      color: inherit;
    }
  }
}

.company {
  display: flex;

  :global {
    .ant-avatar {
      flex: 1 0 44px;
    }
  }
}

.companyMenu {
  background: transparent;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  :global {
    li.ant-menu-item, .ant-menu-submenu-title {
      background: none;
      display: flex;
      align-items: center;

      &:hover {
        color: inherit;
      }
    }

    li.ant-menu-submenu-active {
      color: inherit;
    }
  }
}
