@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.invoice-preview {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 620px;
  height: 95vh;
  margin: 50px 10%;
  padding: 1.5em 5em;
  width: 80%;
  --table-cell-padding-x: 10.1pt;
  --table-cell-padding-y: 12.2pt;
  --totals-table-cell-padding-y: 5.6pt;
  --footer-height: 50mm;
  --page-counter-height: 12mm;
  --totals-table-font-size: 10pt;
  --totals-table-accent-font-size: 12pt;

  font-family: 'Inter', 'Helvetica Neue', 'Helvetica', Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #111111;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  isolation: isolate;
}

@media screen and (max-height: 720px) {
  .invoice-preview {
    margin-top: 0;
  }
}

.invoice-preview img,
.invoice-preview picture,
.invoice-preview video,
.invoice-preview canvas,
.invoice-preview svg {
  display: block;
  max-width: 100%;
}

.invoice-preview input,
.invoice-preview button,
.invoice-preview textarea,
.invoice-preview select {
  font: inherit;
}

.invoice-preview p,
.invoice-preview h1,
.invoice-preview h2,
.invoice-preview h3,
.invoice-preview h4,
.invoice-preview h5,
.invoice-preview h6 {
  overflow-wrap: break-word;
}

.invoice-preview h3 {
  color: var(--theme-neutrals-bold-10-light-black-bd, #292929);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.invoice-preview article {
  flex-grow: 1;
}

.invoice-preview ul {
  list-style: none;
  padding: 0;
}

.invoice-preview .line-items-table {
  width: 100%;
}

.invoice-preview .line-items-table tr.spacer {
  display: none;
}

.invoice-preview .line-items-table th {
  color: rgba(112, 112, 112, 1);
  padding-bottom: 8pt;
  font-size: 8px;
  font-weight: 400;
  white-space: nowrap;
  text-align: left;
  line-height: normal;
  text-transform: uppercase;
}

.invoice-preview .line-items-table td {
  padding: 12px;
  vertical-align: top;
  padding-left: 0;
}

.line-items-table th:last-child,
.line-items-table td:last-child {
  padding-right: var(--table-cell-outer-padding-x, var(--table-cell-padding-x));
}

.line-items-table tbody td {
  font-size: 10px;
  line-height: 1.3;
  font-weight: 400;
  color: var(--theme-neutrals-30-dark-grey, #3b3b3b);
  border: 1px rgb(223, 223, 223);
  border-top-style: solid;
}

.line-items-table thead {
  display: table-header-group;
}

.line-items-table tfoot {
  display: table-footer-group;
}

th.line-items-table__fixed-item {
  width: 46pt;
}

.totals-table {
  margin-top: 8pt;
}

.totals-table tr,
.totals-table td,
.totals-table th {
  break-inside: avoid;
}

.totals-table td {
  padding: var(--totals-table-cell-padding-y, 5.6pt) var(--table-cell-padding-x);
  color: var(--theme-neutrals-bold-10-light-black-bd, #292929);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.totals-table td:last-child {
  padding-right: var(--table-cell-outer-padding-x, var(--table-cell-padding-x));
  text-align: right;
  white-space: nowrap;
}

.line-items-table .no-items td {
  padding: 0;
  border-bottom-style: solid;
  padding-left: 0;
}

.line-items-table tr:last-child td {
  border-bottom-style: solid;
}

.totals-table .total td {
  font-size: 12px;
  font-weight: 600;
  background: var(--totals-table-total-cell-background, transparent);
  color: var(--totals-table-total-cell-color, inherit);
}
.totals-table:has(.amount_due) .total td {
  font-weight: 400;
  background: transparent;
  color: var(--theme-neutrals-bold-10-light-black-bd, #292929);
}

.totals-table .amount_due td {
  font-weight: 600;
  background: var(--totals-table-total-cell-background, transparent);
  color: var(--totals-table-total-cell-color, inherit);
}

.invoice-preview footer {
  display: flex;
  flex-direction: column;
  break-inside: avoid;
  margin-top: auto;
}

.invoice-preview footer .pre-footer-row {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5mm;
}

.invoice-preview footer aside h3 {
  margin-bottom: 4pt;
}

.invoice-preview footer {
  border-top: 0.26px solid #a6abb7;
  font-size: 8px;
  line-height: 1.41;
  font-weight: 400;
}

.invoice-preview footer > section {
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 20mm;
  --margin-top: 5mm;
  --margin-bottom: 0mm;
  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);
  height: calc(
    var(--footer-height) - var(--margin-top) - var(--margin-bottom) -
      var(--page-counter-height)
  );
  text-align: left;
  font-style: normal;
  font-weight: 400;
  color: var(--theme-neutrals-bold-10-light-black-bd, #292929);
}

.invoice-preview footer > section h3 {
  margin-bottom: 2.5pt;
}

.invoice-preview .footer-aside {
  display: flex;
  font-size: 8px;
  line-height: 1.5;
}

.invoice-preview .footer-aside__start {
  flex-flow: column;
  width: 250px;
}

.invoice-preview .footer-aside__end {
  flex-flow: row;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 5mm;
}

.invoice-preview .footer-aside > aside {
  display: flex;
  flex-flow: column;
}

.invoice-preview .footer-aside__end > aside:first-child {
  flex-grow: 1;
}

.invoice-preview footer .qr-code-data {
  display: inline-flex;
  flex-flow: column;
  height: 85px;
  width: 85px;
  background-image: url('data:image/svg+xml,<svg width="85" height="85" viewBox="0 0 85 85" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_f_23098_280990)"><path d="M3.8291 3.87793V6.48663V9.09532V11.704V14.3127V16.9214V19.5301V22.1388H6.4378H9.04649H11.6552H14.2639H16.8726H19.4813H22.09V19.5301V16.9214V14.3127V11.704V9.09532V6.48663V3.87793H19.4813H16.8726H14.2639H11.6552H9.04649H6.4378H3.8291ZM24.6987 3.87793V6.48663V9.09532H27.3074V6.48663H29.9161V3.87793H27.3074H24.6987ZM29.9161 6.48663V9.09532H32.5248V6.48663H29.9161ZM32.5248 9.09532V11.704H35.1334H37.7421V9.09532V6.48663V3.87793H35.1334V6.48663V9.09532H32.5248ZM32.5248 11.704H29.9161H27.3074H24.6987V14.3127H27.3074H29.9161V16.9214H27.3074V19.5301H29.9161V22.1388H32.5248V19.5301H35.1334V22.1388H32.5248V24.7475H29.9161V27.3562H32.5248H35.1334V29.9649H37.7421V27.3562V24.7475V22.1388V19.5301V16.9214H35.1334V14.3127H32.5248V11.704ZM35.1334 29.9649H32.5248V32.5736H29.9161V35.1823V37.791H32.5248V40.3997V43.0084H29.9161H27.3074V40.3997H29.9161V37.791H27.3074V35.1823V32.5736H24.6987V29.9649H27.3074V32.5736H29.9161V29.9649V27.3562H27.3074H24.6987V24.7475H22.09H19.4813H16.8726V27.3562H14.2639V29.9649H11.6552V27.3562H14.2639V24.7475H11.6552H9.04649V27.3562H6.4378V29.9649V32.5736V35.1823H9.04649V32.5736H11.6552H14.2639H16.8726V29.9649H19.4813V27.3562H22.09V29.9649H19.4813V32.5736H22.09V35.1823H19.4813V37.791H22.09H24.6987V40.3997V43.0084V45.6171H27.3074V48.2258H29.9161H32.5248H35.1334V50.8344H32.5248H29.9161H27.3074V48.2258H24.6987V50.8344V53.4431H27.3074V56.0518H24.6987V58.6605H27.3074H29.9161V56.0518H32.5248V58.6605H35.1334H37.7421H40.3508H42.9595V56.0518H45.5682V58.6605H48.1769H50.7856H53.3943V56.0518H50.7856H48.1769V53.4431H45.5682V50.8344H42.9595V53.4431H40.3508H37.7421V56.0518H35.1334V53.4431H37.7421V50.8344V48.2258V45.6171H40.3508V43.0084H37.7421H35.1334V40.3997H37.7421V37.791V35.1823V32.5736H35.1334V29.9649ZM42.9595 50.8344V48.2258H40.3508V50.8344H42.9595ZM48.1769 53.4431H50.7856H53.3943V50.8344H50.7856H48.1769V53.4431ZM53.3943 50.8344H56.003V48.2258V45.6171V43.0084V40.3997H53.3943H50.7856H48.1769V37.791H45.5682V40.3997H42.9595V43.0084V45.6171H45.5682V43.0084H48.1769V45.6171V48.2258H50.7856H53.3943V50.8344ZM45.5682 37.791V35.1823H42.9595H40.3508V37.791H42.9595H45.5682ZM48.1769 37.791H50.7856V35.1823V32.5736V29.9649H53.3943V32.5736H56.003V35.1823H58.6117V32.5736V29.9649H56.003V27.3562H58.6117V24.7475H56.003H53.3943V27.3562H50.7856V24.7475H48.1769V27.3562H45.5682V29.9649H48.1769V32.5736V35.1823V37.791ZM45.5682 29.9649H42.9595V32.5736H45.5682V29.9649ZM56.003 35.1823H53.3943V37.791H56.003V35.1823ZM19.4813 35.1823V32.5736H16.8726V35.1823H19.4813ZM16.8726 35.1823H14.2639H11.6552H9.04649V37.791H11.6552H14.2639H16.8726V35.1823ZM6.4378 35.1823H3.8291V37.791H6.4378V35.1823ZM6.4378 27.3562V24.7475H3.8291V27.3562H6.4378ZM24.6987 24.7475H27.3074V22.1388V19.5301H24.6987V22.1388V24.7475ZM40.3508 3.87793V6.48663V9.09532V11.704V14.3127V16.9214V19.5301V22.1388H42.9595H45.5682H48.1769H50.7856H53.3943H56.003H58.6117V19.5301V16.9214V14.3127V11.704V9.09532V6.48663V3.87793H56.003H53.3943H50.7856H48.1769H45.5682H42.9595H40.3508ZM6.4378 6.48663H9.04649H11.6552H14.2639H16.8726H19.4813V9.09532V11.704V14.3127V16.9214V19.5301H16.8726H14.2639H11.6552H9.04649H6.4378V16.9214V14.3127V11.704V9.09532V6.48663ZM42.9595 6.48663H45.5682H48.1769H50.7856H53.3943H56.003V9.09532V11.704V14.3127V16.9214V19.5301H53.3943H50.7856H48.1769H45.5682H42.9595V16.9214V14.3127V11.704V9.09532V6.48663ZM9.04649 9.09532V11.704V14.3127V16.9214H11.6552H14.2639H16.8726V14.3127V11.704V9.09532H14.2639H11.6552H9.04649ZM45.5682 9.09532V11.704V14.3127V16.9214H48.1769H50.7856H53.3943V14.3127V11.704V9.09532H50.7856H48.1769H45.5682ZM40.3508 24.7475V27.3562H42.9595V24.7475H40.3508ZM3.8291 40.3997V43.0084V45.6171V48.2258V50.8344V53.4431V56.0518V58.6605H6.4378H9.04649H11.6552H14.2639H16.8726H19.4813H22.09V56.0518V53.4431V50.8344V48.2258V45.6171V43.0084V40.3997H19.4813H16.8726H14.2639H11.6552H9.04649H6.4378H3.8291ZM6.4378 43.0084H9.04649H11.6552H14.2639H16.8726H19.4813V45.6171V48.2258V50.8344V53.4431V56.0518H16.8726H14.2639H11.6552H9.04649H6.4378V53.4431V50.8344V48.2258V45.6171V43.0084ZM9.04649 45.6171V48.2258V50.8344V53.4431H11.6552H14.2639H16.8726V50.8344V48.2258V45.6171H14.2639H11.6552H9.04649ZM56.003 53.4431V56.0518H58.6117V53.4431H56.003Z" fill="black"/></g><defs><filter id="filter0_f_23098_280990" x="-2.04017" y="-1.99134" width="66.5217" height="66.5217" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="1.63043" result="effect1_foregroundBlur_23098_280990"/></filter></defs></svg>');
}

.invoice-preview .divider {
  border-bottom: 0.5px solid var(--mollie-ui-color-palette-gray-300, #d2d3dd);
}

.invoice-preview .header {
  display: grid;
  grid-auto-columns: 1fr minmax(min-content, 50%);
  grid-auto-rows: min-content;
  gap: 5mm 10mm;
  grid-template-areas:
    '. .'
    '. .';

  color: var(--theme-neutrals-bold-10-light-black-bd, #292929);
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 15px;
}

.invoice-preview .header--flex-end-aside {
  display: flex;
  flex-flow: column;
  gap: inherit;
  margin-left: auto;
  text-align: right;
}

.invoice-preview .header .block-entity-logo {
  background: rgba(222, 222, 222, 1);
  width: 85px;
  height: 85px;
  border-radius: 50%;
  max-width: 21mm;
  max-height: 21mm;
  object-fit: contain;
}

.invoice-preview .block-counterpart-info {
  font-size: 10px;
}

.invoice-preview .header .block-entity-logo span {
  font-size: 13px;
  color: white;
  position: relative;
  left: -15px;
  top: 28px;
}

.invoice-preview .payment-details h3 {
  margin-bottom: 3pt;
  padding-bottom: 0.35em;
  font-style: normal;
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: 300;
  line-height: normal;
  color: var(--theme-neutrals-bold-50-grey-bd, #707070);
  border-bottom: solid 0.46px;
}

.invoice-preview .block-header {
  text-align: left;
  font-size: 28px;
  line-height: normal;
  margin-bottom: 17pt;
  color: var(--theme-neutrals-bold-10-light-black-bd, #292929);
  font-style: normal;
  font-weight: 700;
}

.invoice-preview .block-receivable-date li {
  display: flex;
  font-size: 10px;
  min-width: 160px;
}

.invoice-preview .block-memo {
  font-size: 10px;
}

.invoice-preview .block-receivable-date li span:first-child {
  margin-right: auto;
}

.invoice-preview .block-receivable-date .payment-terms li {
  display: block;
}

.invoice-preview .payment-description {
  margin-bottom: 10mm;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--theme-neutrals-bold-10-light-black-bd, #292929);
}

.invoice-preview .totals-table {
  width: 70%;
  margin-left: auto;
}

.invoice-preview .header {
  margin-bottom: 39pt;
  line-height: 20px;
}

.invoice-preview .not-set {
  color: rgba(184, 184, 184, 1);
}
