:root {
  --demo-padding: 8px;
  --demo-padding-2: calc(var(--demo-padding) * 2);
  --demo-padding-3: calc(var(--demo-padding) * 3);
  --demo-padding-4: calc(var(--demo-padding) * 4);
  --demo-padding-5: calc(var(--demo-padding) * 5);
  --demo-padding-6: calc(var(--demo-padding) * 6);
  --demo-button-blue: #3737FF;
  --demo-light-gray: #f9f9f9;
  --demo-divider: #DDDDDD;
  --demo-form-header: 88px;
}

body,
html {
  margin: 0;
  padding: 0;
}

/* Remove padding around complex Monite components */
.Monite-ContainerCssBaseline.MuiBox-root {
  padding: 0;
}

.Monite-ContentContainer {
  overflow: hidden;
  position: relative;

  > .Monite-AbsoluteContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.Monite-Counterparts {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  max-height: 100%;

  > .MuiBox-root {
    /* occupy whole available space */
    flex-basis: 0;
    flex-grow: 2;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
  }
}

.Monite-Receivables {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  max-height: 100%;

  > div:first-child {
    margin-bottom: var(--demo-padding-3);
  }

  > div:nth-child(2) {
    margin-bottom: var(--demo-padding-3);
  }

  > div:nth-child(3) {
    flex-basis: 0;
    flex-grow: 2;
    overflow: hidden;

    /* prevent labels from being clipped */
    margin-top: calc(var(--demo-padding) * -1);
    padding-top: var(--demo-padding);

    > .MuiBox-root {
      /* prevent labels from being clipped */
      margin-top: calc(var(--demo-padding) * -1);
      padding-top: var(--demo-padding);

      /* occupy whole available space */
      display: flex;
      flex-direction: column;
      overflow: hidden;
      height: 100%;
      max-height: 100%;

      /* DataGrid */

      > div:last-child {
        flex-basis: 0;
        flex-grow: 2;
        margin-left: 5px;
      }
    }
  }
}

/* Filters styling */
.Monite-Filters {
  .Monite-FilterControl {
    height: 40px;
    min-height: 40px;
    max-height: 40px;

    .MuiInputBase-root {
      margin-top: 0;
      height: 40px;
      min-height: 40px;
      max-height: 40px;
      border-radius: 20px;
      background-color: var(--demo-light-gray);
      padding: 0 6px;

      .MuiOutlinedInput-notchedOutline {
        border-style: none;
      }
    }

    .MuiFormLabel-root {
      position: absolute;
      left: 20px;
      top: 10px;
      font-size: 14px;
      max-width: calc(100% - 52px);
      text-overflow: ellipsis;

      &.MuiFormLabel-filled {
        opacity: 0;
      }
    }
  }

  .Monite-PayableDateFilter, .Monite-PayableDueDateFilter, .Monite-ReceivableDueDateFilter {
    input::placeholder {
      opacity: 0;
    }
  }
}

/* Default button style */
.Monite-ContainerCssBaseline .MuiButton-containedPrimary {
  background-color: var(--demo-button-blue);
  color: #ffffff;
  padding: 6px 18px;
  border-radius: 8px;
  box-shadow: none;
  min-width: 120px;
}

/* Outlined button style */
.Monite-ContainerCssBaseline .MuiButton-outlined {
  border-radius: 8px;
  box-shadow: none;

  &.MuiButton-outlinedPrimary {
    /*min-width: 120px;*/
  }
}

.Monite-Purchases {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  height: 100%;
  max-height: 100%;

  /* Header */

  > .MuiStack-root:first-child {

    /* Default button style */

    aside button {
      background-color: var(--demo-button-blue);
      color: #ffffff;
      padding: 6px 18px;
      border-radius: 8px;
      box-shadow: none;
    }
  }

  > .MuiBox-root {
    /* prevent labels from being clipped */
    margin-top: calc(var(--demo-padding) * -1);
    padding-top: var(--demo-padding);

    /* occupy whole available space */
    flex-basis: 0;
    flex-grow: 2;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;

    /* Filter pane styles */

    > div:first-child {
      > .MuiGrid-root:first-child {
        > .MuiGrid-item:nth-child(2) {
          flex-basis: 16%;
        }
      }
    }

    /* DataGrid */

    > .MuiDataGrid-root {
      margin-left: 5px;

      /* Align avatar with column header */

      .MuiDataGrid-cell--withRenderer .MuiChip-root {
        .MuiAvatar-root.MuiChip-avatar {
          margin-left: calc(var(--demo-padding) * -1);
          margin-right: var(--demo-padding);
        }
      }
    }
  }
}

.MuiFormControl-root {
  > label {
    &:not(.MuiInputLabel-shrink) {
      font-size: 14px;
      transform: translate(var(--demo-padding-2), 10px);
    }
  }
}

.MuiAutocomplete-root {
  > .MuiFormControl-root {
    > .MuiInputBase-root {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}

/* Payable details */
.MuiDialog-container .Monite-ContainerCssBaseline {
  > .MuiDialogTitle-root.MuiTypography-h6 {
    /* Toolbar height should be 88px */
    padding: 12px var(--demo-padding-3);

    /* Hide toolbar bottom border on the dialog popup */

    & + .MuiDivider-root {
      opacity: 0;
    }

    .MuiToolbar-root {
      padding: 0 var(--demo-padding) 0 var(--demo-padding-3);

      /* Fixes gap between invoice # and status indicator */

      > .MuiIconButton-root + .MuiBox-root {
        gap: var(--demo-padding-3);

        > .MuiTypography-h3 {
          margin-left: var(--demo-padding-3);
        }
      }
    }
  }

  > .MuiDialogContent-root {
    /* Fixes padding between content and header */
    padding-top: 7px;
    padding-right: var(--demo-padding-4);
  }
}

/* Create invoice popup */
.Monite-Receivables-Dialog-CreateReceivable {
  .Monite-CreateReceivable-Title {
    height: var(--demo-form-header);
  }

  .Monite-CreateReceivable-Divider {
    display: none;
  }
}

/* Edit invoice popup */
.Monite-Receivables-Dialog-ReceivableDetails {
  .Monite-EditInvoiceDetails-Title {
    height: var(--demo-form-header);
  }

  .Monite-EditInvoiceDetails-Divider {
    display: none;
  }
}

.Monite-Dashboard {
  img {
    max-width: 100%;
    height: auto;

    &:last-child {
      margin-bottom: var(--demo-padding-3);
    }
  }
}

.Monite-Cash-On-Accounts-Account-Balance {
  width: 100%;

  .Monite-Cash-On-Accounts-Account-Balance-Account-Name {
    h4 {
      font-size: 16px;
      margin: 0;
    }

    aside {
      font-size: 14px;
    }
  }
}

.Monite-Page-root {
  background-color: var(--demo-light-gray) !important;

  .Monite-ContentContainer {
    margin: 0;
    overflow-y: auto;
  }
}

.Monite-CreateReceivable-CustomerSection,
.Monite-CreateReceivable-EntitySection,
.Monite-CreateReceivable-ItemsSection,
.Monite-CreateReceivable-PaymentSection,
.Monite-CreateReceivable-ReminderSection,
.Monite-CreateReceivable-ReminderSection {
  > h6 {
    font-size: 24px;
    height: 56px;
    margin: 0;
    padding: var(--demo-padding) var(--demo-padding) var(--demo-padding-2) var(--demo-padding);

    & + .MuiCard-root {
      margin-top: 0;
    }
  }

  .MuiCardContent-root {
    padding: var(--demo-padding-4);
  }
}

.Monite-CreateReceivable-ReminderSection {
  .MuiButton-root {
    height: 48px;
    margin-top: 28px;
  }
}

.Monite-CreateReceivable-ItemsSection {
  > .MuiCollapse-root.MuiCollapse-hidden, > .MuiPaper-root {
    margin-top: 0;
  }

  .MuiTable-root {
    margin: var(--demo-padding-2) 36px;
    width: calc(100% - 72px);

    th {
      border-bottom-style: none;
      padding: 8px 12px;
    }

    .Monite-CreateReceivable-ItemsSection-TableBody-AddItem {
      padding: 0;

      button {
        padding: 14px 18px 14px 12px;
        font-size: 16px;
      }
    }
  }

  .Monite-CreateReceivable-ItemsSection-Totals {
    margin-top: var(--demo-padding-3);

    .Monite-CreateReceivable-ItemsSection-Totals-Total {
      padding: 12px 32px 16px 32px;

      .MuiTypography-root {
        font-size: 20px;
        font-weight: 600;
      }
    }

    hr {
      margin: 0 32px;
    }
  }
}

.MuiDialog-container .Monite-CreateReceivable-Content,
.MuiDialog-container .Monite-EditInvoiceDetails-Content {
  margin: 0;
  padding: var(--demo-padding-5) var(--demo-padding-4) 111px  var(--demo-padding-4);

  > form {
    max-width: 940px;
    margin: 0 auto;

    > .MuiStack-root {
      margin-top: 0;

      > h2 {
        font-size: 48px;
        padding: 12px 0;
      }
    }
  }
}

.Monite-PayableDetailsForm {
  > form > div > div:not(.Monite-PayableDetailsForm-Totals) > .MuiPaper-root {
    padding: var(--demo-padding-3);
    border-radius: var(--demo-padding-2);
  }
}

.Monite-PayableDetailsForm-Items {
  button[aria-label="delete"] {
    width: 40px;
    height: 40px;
    margin-top: 24px;

    svg {
      width: 20px;
      height: auto;
    }
  }
}

.Monite-PayableDetailsForm-Items,
.Monite-PayableDetailsForm-Details,
.Monite-PayableDetailsForm-Totals {
  padding-right: 18px;
}

.Monite-PayableDetailsForm-Totals {
  .MuiPaper-root {
    padding: 0;
    border-radius: var(--demo-padding-2);

    table {
      tr td {
        border-bottom: 1px solid var(--demo-divider);
        font-size: 16px;
        font-weight: 400;
        padding: 12px 16px;
      }

      tr:last-child td {
        font-weight: 700;
      }
    }
  }
}

.Monite-PayableDetailsForm-Item {
  .Monite-PayableDetailsForm-Item-Total {
    margin-right: 10.8%;
  }
}

.Monite-EmailInvoiceDetails-Title {
  height: 88px;
}
.Monite-EmailInvoiceDetails-Content {

  > form {
    padding: var(--demo-padding-4);
    max-width: 1006px;
    margin: 0 auto;
  }
}

.Monite-Projects-Header {
  width: 100%;
  margin-bottom: 80px;

  h2 {
    font-size: 32px;
    font-weight: 700;
  }
}

.MuiDataGrid-cell[data-field="counterpart_id"] {
  .MuiChip-root {
    padding-left: 0;

    .MuiAvatar-root {
      margin: 0;
    }
  }
}
