@import '../../node_modules/antd/es/button/style/index';

.monite-btn {
  color: #fff;
  padding: 12px 16px;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  height: auto;

  background: #246FFF;
  border-color: #246FFF;
  border-radius: 6px;

  &:hover, &:focus {
    background: #111111;
    border-color: #111111;
    color: #fff;
  }
}
